@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> Loc

<h1>@Loc["Key1"]</h1>
<h2>@(Foo.Globalization.Language.Language.Key1 ?? "Not found :-(")</h2>
<h3>Is imperial: @Foo.Globalization.Language.Language.IsImperial_Value</h3>


<p>
    Welcome to your new app.
</p>

<SurveyPrompt Title="How is Blazor working for you?" />